test-classes/*
.settings/*
.DS_Store
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
*.jar
products-v1-0.0.1-SNAPSHOT.jar.original
